<div class="row">
  <div class="col-md-12">
   <img src="/assets/Logo_Fuente_Web.png" alt="Fuente de Vida" class="img-responsive center-something">
  </div>
</div>
<script>
  //window.setTimeout(function(){

    // Move to a new location or you can do something else
  //  window.location.href = "<%= songs_path %>";

//  }, 3000);
</script>