<div class="row">
  <div class="col-md-12">
    <%= image_tag "fdv_logo.png",:class=> "text-center", :width => 350 %>
  </div>
</div>
<script>
  window.setTimeout(function(){

    // Move to a new location or you can do something else
    window.location.href = "<%= songs_path %>";

  }, 3000);
</script>