/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require bootstrap.min
 *= require flat-ui.min
 */
audio{
    /*width:100%;*/
}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.table-wrapper{
	overflow-y: auto;
	overflow-x:hidden;
	margin-bottom: 20px;
}
table{
	background: rgba(255,255,255,0.5) !important;
}
caption{
	background-color:#2980B9;
	color: #fff !important;
	font-weight: bolder;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
body{
	background: url("/assets/seccion_Grabaciones.jpg") no-repeat center;
	background-size: cover;
}
img.logo-img {
    top: 10px;
    position: absolute;
    z-index: 100099;
    left: 15px;
}
.glyphicon{
	color: #48C9B0;
}
.center-something{
	display: block;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}
@media screen and (max-width: 650px){
	.logo-img{
		width: 50px;
		height: 50px;
		top: 5px !important;
		left: 5px !important;
	}
}