<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Alabanza Fuente de Vida</title>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.js' %>
  <script src="http://use.fonticons.com/d94948c7.js"></script>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="navbar palette-belize-hole navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "Alabanza FdV", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Grabaciones", songs_path %>
        </li>
        <% if can? :new, UploadedFile %>
            <li>
              <%= link_to "Agregar audio", new_uploaded_file_path %>
            </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.try(:username) %> <strong class="caret"></strong></a>
              <ul class="dropdown-menu">
                <!--<li>-->
                  <!--<a href="#">Action</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#">Another action</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a href="#">Something else here</a>-->
                <!--</li>-->
                <li class="divider">
                </li>
                <li>
                  <%= link_to 'Desconectarme', destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </li>
        <% else %>
            <li> <%= link_to "Registrarme", new_user_registration_path %> </li>
            <li>
              <%= link_to 'Conectarme', new_user_session_path %>
            </li>

        <% end %>
      </ul>

    </div>
  </div>
</nav>
<!--<div id="logo">-->
<!--<%= image_tag "fdv_logo.png",:class=> "img-responsive"%>-->
<!--</div>-->



<div class="container-fluid">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, class: "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= msg %>
      <% end %>
  <% end %>

  <%= yield %>
  <footer class="navbar palette-belize-hole navbar-inverse navbar-fixed-bottom" style="margin-top: 35px;">
    <ul class="nav navbar-nav">
      <li><a id="audio"></a></li>
      <li> <a id="nowplaying"></a></li>
    </ul>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.57/wavesurfer.min.js"></script>
</body>
</html>